#hxsfx_MarkdownEditor {
    height: 100%;
    width: 100%;
}

    #hxsfx_MarkdownEditor > div.toolbar-top {
        display: flex;
        height: 60px;
        width: 100%;
        border-bottom: 1px solid #f3f3f3;
        box-sizing: border-box;
    }

    #hxsfx_MarkdownEditor > .content {
        height: calc(100% - 121px);
        display: flex;
    }

    #hxsfx_MarkdownEditor > div.articleTitleWrapper {
        padding: 15px;
        height: 61px;
        border-bottom: 1px solid #f3f3f3;
        box-sizing: border-box;
    }

        #hxsfx_MarkdownEditor > div.articleTitleWrapper > input.articleTitle {
            height: 30px;
            display: block;
            border: none;
            font-size: 22px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            outline: 0;
        }

    #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection {
        display: flex;
        height: 44px;
        padding: 8px;
    }

        #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button {
            display: flex;
            padding: 2px 4px;
            margin: 0 10px;
            border-radius: 5px;
            align-items: flex-end;
        }

            #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button > div.buttonMain {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button.disable {
                cursor: default;
                color: #9f9f9f;
            }

            #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button:hover {
                background-color: #f4f4f4;
            }

            #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button.disable:hover {
                background-color: transparent;
            }

            #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button > div.buttonMain > span.icon {
                height: 24px;
                width: 24px;
            }

            #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button > div.buttonMain > span.text {
                font-size: 11px;
                height: 16px;
                line-height: 16px;
            }

            #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button > span.pullDownMenuIcon {
                width: 16px;
                height: 16px;
                margin-bottom: 2px;
            }

            #hxsfx_MarkdownEditor > div.toolbar-top > div.toolbarSection > button.open > span.pullDownMenuIcon {
                transform: rotate(180deg);
                margin-bottom: 0;
            }

    #hxsfx_MarkdownEditor > div.toolbar-top > div.cutLine {
        margin-top: 20px;
        height: 20px;
        border-right: 1px solid #ebebeb;
    }

    #hxsfx_MarkdownEditor > div.content > div.mdInputSeq {
        width: 40px;
        padding: 10px 10px 10px 0;
        background-color: rgb(240,240,240);
        counter-reset: section;
        overflow: hidden;
        box-sizing: border-box;
        border-right: 1px solid #f3f3f3;
    }

        #hxsfx_MarkdownEditor > div.content > div.mdInputSeq > div {
            counter-increment: section;
        }

            #hxsfx_MarkdownEditor > div.content > div.mdInputSeq > div > p {
                height: 28px;
                line-height: 28px;
                font-size: 12px;
                color: #333;
                cursor: default;
                text-align: right;
            }

                #hxsfx_MarkdownEditor > div.content > div.mdInputSeq > div > p:first-child {
                }

                    #hxsfx_MarkdownEditor > div.content > div.mdInputSeq > div > p:first-child:before {
                        content: counter(section );
                    }

    #hxsfx_MarkdownEditor > div.content > div.mdInputContainer,
    #hxsfx_MarkdownEditor > div.content > div.previewContainer {
        padding: 10px;
        width: calc( 50% - 20px);
        height: 100%;
        overflow-y: scroll;
        overflow-x: auto;
        box-sizing: border-box;
    }

    #hxsfx_MarkdownEditor > div.content > div.mdInputContainer {
        min-height: 28px;
        line-height: 28px;
        outline: 0;
	border-right:1px solid #eee;
    }

        #hxsfx_MarkdownEditor > div.content > div.mdInputContainer:empty:before {
            content: attr(placeholder);
            font-size: 16px;
            color: #ccc;
            min-height: 28px;
            line-height: 28px;
        }


        #hxsfx_MarkdownEditor > div.content > div.mdInputContainer > div {
            min-height: 28px;
            line-height: 28px;
            font-size: 16px;
        }

    #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection 
	{
            margin: 8px 0 0 12px
	}

           
#hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > ol > li,
		#hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > ul > li,
                #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > ol > li > ol > li,
                #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > ul > li > ol > li,
                #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > ol > li > ul > li,
                #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > ul > li > ul > li {
                    margin: 8px 0 0 32px
                }

   
	#hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > h1	   {
        font-size: 24px;
        line-height: 32px;	   
    }  
	#hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > h2	   {
        font-size: 22px;
        line-height: 30px;	   
    } 
	#hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > h3	   {
        font-size: 20px;
        line-height: 28px;	   
    }  
	#hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > h4	   {
        font-size: 18px;
        line-height: 26px;	   
    } 


    #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > blockquote {
        font-size: 16px;
        color: #666;
        border-left: 3px solid #dfe2e5;
        margin: 15px 0;
        padding: 5px 0 5px 16px;
    }

    #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection code {
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 2px;
        font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif;
    }

    #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > pre {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        padding: 16px;
        padding-left: 5px;
        white-space: normal;
        flex: 1;
        margin-bottom: 10px;
        margin-top: 0px;
        word-wrap: break-word !important;
        font-size: 14px;
        margin: 10px 0;
        color: #333;
        position: relative;
        background-color: rgba(0,0,0,0.03);
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        display: flex;
        line-height: 20px;
    }

        #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > pre > code {
            display: block;
            text-align: left;
            font-size: 14px;
            color: #333;
            background-color: transparent;
            border-radius: initial;
        }

    #hxsfx_MarkdownEditor > div.content > div.previewContainer > div.previewSection > hr {
        height: 1px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        border-top: 1px solid black;
    }

table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    background-color: transparent;
    border-spacing: 0;
    box-sizing: border-box;
}

    table tr td, table tr th {
        font-size: 14px;
        color: #4f4f4f;
        line-height: 22px;
        border: 1px solid #ddd;
        padding: 8px;
        word-break: normal !important;
        vertical-align: middle;
        box-sizing: border-box;
        text-align: left;
    }

    table tr th {
        font-weight: 700;
        background-color: #eff3f5;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 22px;
        border: 1px solid #ddd;
        padding: 8px;
        word-break: normal !important;
        vertical-align: middle;
    }
